		body {
		    background-image: url(bg.jpg);
		}
		
		.container .logo {
		    position: absolute;
		    top: 40px;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		}
		
		.container h3 {
		    position: absolute;
		    top: 150px;
		    left: 0;
		    right: 0;
		    margin: 0 auto;
		}
		
		.logo {
		    display: block;
		    background-image: url("logo.jpg");
		    background-size: 100%;
		    width: 110px;
		    height: 110px;
		    font-size: 5rem;
		    text-align: center;
		    border-radius: 50%;
		}
		
		.container {
		    max-width: 400px;
		    width: auto;
		    color: white;
		    margin-top: 100px;
		    padding: 80px 50px 50px 50px;
		    background: rgb(63, 94, 251);
		    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(193, 22, 240, 1) 100%);
		    border-radius: 10px;
		    margin-bottom: 100px;
		}
		
		h3 {
		    text-align: center;
		    color: white;
		}
		
		.btn {
		    width: 100%;
		    background-color: #8311e6;
		    color: white;
		}
		
		.btn:hover {
		    background-color: #1156e6;
		    color: white;
		}
		
		a {
		    color: white;
		    text-decoration: none;
		}
		
		a:hover {
		    color: black;
		    text-decoration: none;
		}