{% extends "base.html" %}

{% block title %} Search Results {% endblock title %}

{% block body %}
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0" role="alert">
        <strong>{{message}}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
<div class="container my-3">
<h2 >Search Results:</h2>
{% if games|length < 1 %}
    Your search - <b>{{query}}</b> - did not match any documents.
<br><br>
Suggestions:<br>
<ul>
<li>Make sure that all words are spelled correctly.</li>
<li>Try different keywords.</li>
<li>Try more general keywords.</li>
<li>Try fewer keywords.</li>
</ul>
{% endif %}
</div>
<div id='game' class="col-lg-9 mx-auto">
	<div class="row mx-auto">
		{% for game in games %}
		<div class="card mx-auto mb-3" id={{game.id}} style="width: 18rem;">
			<style>
				.card-img-top {
					width: 100%;
					height: 40vh;
					object-fit: cover;
				}
			</style>
			<img class="card-img-top" src="{{game.image.url}}" alt="Card image cap">
			<div class="card-body">
				<a href='/?game={{game.id}}'> {{game.gname}}</a>
				<p> Players waiting = {{game.waiting_list}}</p>


			</div>

			<div class="card-footer p-0 no-gutters">



			</div>

		</div>
		{% endfor %}
	</div>
</div>
{% endblock body %}